.el{
    margin-bottom: 12px;
}
.el_wrap{
    display: flex;
    align-items: center;
}

.img{
    width: 100px;
    height: 100px;
}

.imgWrap{
    height: 100px;
    width: 100px;
}

.imgContainer{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 12px;
    width: calc(100% - 100px);
}

.info_top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}
.summ{
    margin-left: 5px;
}

.info_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.amountButton{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    /* border:none; */
    background-color: var(--yellow);
    font-size: 30px;
    font-weight: 100;
    border-style: none;
    text-decoration-color: black;
    -webkit-text-fill-color: black;
}

.currAmount{
    margin: 0 12px 0 12px;
}

.hr{
    margin-top: 12px;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
    padding: 0;
}