
*{
    margin: 0;
    padding: 0;
    list-style: none;
    touch-action: pan-y, pan-x;
}

body{
    background: #F6F6F5;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', "sans-serif";
}

:root{
    --yellow: #ffc404;
    --green: #009471;
    --white: #fff;
}
