.footer{
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
    height: 80px;
    z-index: 999;
    position: fixed;
    bottom: 0;
}
.ul{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.smallButtonli{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 18px;
}
.largeButtonli{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.buttonTitle{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}